

{% block content1 %}

<h1>Welcome to the Etsy Search Application!</h1>


{% endblock %}

<div>
{% for message in get_flashed_messages() %}
    <strong>{{ message }}</strong>
{% endfor %}
</div>

<p>------------</p>
<h3>Navigation</h3>
<ul>
    <li><a href="{{ url_for('etsy_search')}}">Go to Product search form.</a></li>
    <li><a href="{{ url_for('shop_results')}}">Go to Shop search form.</a></li>
    <li><a href="{{ url_for('see_all_products')}}">See all saved products.</a></li>
    <li><a href="{{ url_for('favorite_product')}}">Discover most popular product.</a></li>
    <li><a href="{{ url_for('see_all_users')}}">See all saved users.</a></li>
    <li><a href="{{ url_for('see_all_shops')}}">See all saved shops.</a></li>
</ul>
